<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="A design system for enterprise-level products. Clean HTML with component classes .Customizable and theme able." />
  <link rel="stylesheet" href="/main.css" />
  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
  <title>Typography | Astro UI</title>
</head>

<body>
  <header class="header flex--row">
    <a href="/index.html">
      <div class="header__logo-container flex--row">
        <img src="/assets/zodiaclogo.png" alt="AtroUI logo" class="logo__img" />
        <h2 class="header__logo">Astro UI</h2>
      </div>
    </a>
    <nav class="header__nav flex--row">
      <ul>
        <li><a href="/documentation.html">Documentation</a></li>
        <li><a href="/components_page.html">Components</a></li>
        <li><a href="https://github.com/ark2002/astro-ui">Github</a></li>
      </ul>
    </nav>
  </header>
  <div class="page__container flex--column">
    <div class="page__header">
      <h1 class="primary__font heading1 text-align--center">Typography</h1>
      <p class="secondary__font">Baic text variants including headings and various features types</p>
    </div>
    <div class="typography__wrapper flex--row">
      <div class="primary__font">
        <p class="documentation"><a href="https://fonts.google.com/specimen/Cinzel">Primary Font : Cinzel</a></p>
        <div class="text__container">
          <h1 class="heading1">Heading 1</h1>
          <h2 class="heading2">Heading 2</h2>
          <h3 class="heading3">Heading 3</h3>
          <h4 class="heading4">Heading 4</h4>
          <h5 class="heading5">Heading 5</h5>
        </div>
        <div class="text__container">
          <p class="text__xlarge">Text extra-large</p>
          <p class="text__large">Text large</p>
          <p class="text__medium">Text medium</p>
          <p class="text__small">Text small</p>
          <p class="text__xsmall">Text extra-small</p>
        </div>
        <div class="text__container">
          <p class="light text__medium">light</p>
          <p class="regular text__medium">regular</p>
          <p class="semibold text__medium">semibold</p>
          <p class="bold text__medium">bold</p>
          <p class="x-bold text__medium">Extra bold</p>
        </div>
        <div class="text__container">
          <p class="italic text__medium">italics</p>
          <p class="underline text__medium">underline</p>
        </div>
        <div class="text__container">
          <p class="text-align--left text__medium">left-aligned</p>
          <p class="text-align--center text__medium">center-aligned</p>
          <p class="text-align--right text__medium">right-aligned</p>
        </div>
        <div class="text__container">
          <p class="word-space--normal text__medium">normal word spacing</p>
          <p class="word-space--more text__medium">more word spacing</p>
        </div>
        <div class="text__container">
          <p class="letter-space--normal text__medium">normal letter spacing</p>
          <p class="letter-space--more text__medium">more letter spacing</p>
        </div>
      </div>
      <div class="secondary__font">
        <p class="documentation"><a href="https://fonts.google.com/specimen/Montserrat">Secondary Font : Montserrat</a>
        </p>
        <div class="text__container">
          <h1 class="heading1">Heading 1</h1>
          <h2 class="heading2">Heading 2</h2>
          <h3 class="heading3">Heading 3</h3>
          <h4 class="heading4">Heading 4</h4>
          <h5 class="heading5">Heading 5</h5>
        </div>
        <div class="text__container">
          <p class="text__xlarge">Text extra-large</p>
          <p class="text__large">Text large</p>
          <p class="text__medium">Text medium</p>
          <p class="text__small">Text small</p>
          <p class="text__xsmall">Text extra-small</p>
        </div>
        <div class="text__container">
          <p class="light text__medium">light</p>
          <p class="regular text__medium">regular</p>
          <p class="semibold text__medium">semibold</p>
          <p class="bold text__medium">bold</p>
          <p class="x-bold text__medium">Extra bold</p>
        </div>
        <div class="text__container">
          <p class="italic text__medium">italics</p>
          <p class="underline text__medium">underline</p>
        </div>
        <div class="text__container">
          <p class="text-align--left text__medium">left-aligned</p>
          <p class="text-align--center text__medium">center-aligned</p>
          <p class="text-align--right text__medium">right-aligned</p>
        </div>
        <div class="text__container">
          <p class="word-space--normal text__medium">normal word spacing</p>
          <p class="word-space--more text__medium">more word spacing</p>
        </div>
        <div class="text__container">
          <p class="letter-space--normal text__medium">normal letter spacing</p>
          <p class="letter-space--more text__medium">more letter spacing</p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>