<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="A design system for enterprise-level products. Clean HTML with component classes .Customizable and theme able." />
  <link rel="stylesheet" href="/main.css" />
  <link rel="stylesheet" href="/documentation/prism.css">
  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
  <title>Cards | Astro UI</title>
</head>

<body>
  <header class="header flex--row">
    <a href="/index.html">
      <div class="header__logo-container flex--row">
        <img src="/assets/zodiaclogo.png" alt="AtroUI logo" class="logo__img" />
        <h2 class="header__logo">Astro UI</h2>
      </div>
    </a>
    <nav class="header__nav flex--row">
      <ul>
        <li><a href="/documentation.html">Documentation</a></li>
        <li><a href="/components_page.html">Components</a></li>
        <li><a href="https://github.com/ark2002/astro-ui">Github</a></li>
      </ul>
    </nav>
  </header>
  <div class="page__container flex--row">
    <nav class="components__sidebar flex--column">
      <li class="sidebar__option"><a href="/components/alert/alert.html">
          <p class="primary__font text__small">Alerts</p>
        </a></li>
      <li class="sidebar__option"><a href="/components/avatar/avatar.html">
          <p class="primary__font text__small">Avatars</p>
        </a></li>
      <li class="sidebar__option"><a href="/components/badge/badge.html">
          <p class="primary__font text__small">Badges</p>
        </a></li>
      <li class="sidebar__option"><a href="/components/button/button.html">
          <p class="primary__font text__small">Buttons</p>
        </a></li>
      <li class="sidebar__option option--selected"><a href="/components/card/card.html">
          <p class="primary__font text__small">Cards</p>
        </a></li>
      <li class="sidebar__option"><a href="/components/image/image.html">
          <p class="primary__font text__small">Images</p>
        </a></li>
      <li class="sidebar__option"><a href="/components/input/input.html">
          <p class="primary__font text__small">Inputs</p>
        </a></li>
      <li class="sidebar__option"><a href="/components/navbar/navbar.html">
          <p class="primary__font text__small">Navigation</p>
        </a></li>
      <li class="sidebar__option"><a href="/components/rating/rating.html">
          <p class="primary__font text__small">Rating</p>
        </a></li>
      <li class="sidebar__option"><a href="/components/typography/typography.html">
          <p class="primary__font text__small">Typography</p>
        </a></li>
      <li class="sidebar__option"><a href="/components/slider/slider.html">
          <p class="primary__font text__small">Slider</p>
        </a></li>
      <li class="sidebar__option"><a href="/components/grid/grid.html">
          <p class="primary__font text__small">Grids</p>
        </a></li>
      <li class="sidebar__option"><a href="/components/lists/lists.html">
          <p class="primary__font text__small">Lists</p>
        </a></li>
      <li class="sidebar__option"><a href="/components/modal/modal.html">
          <p class="primary__font text__small">Modal</p>
        </a></li>
      <li class="sidebar__option"><a href="/components/toast/toast.html">
          <p class="primary__font text__small">Toast</p>
        </a></li>
    </nav>
  <div class="component__container flex--column">
    <div class="page__header">
      <h1 class="primary__font heading1 text-align--center">Cards</h1>
      <p class="secondary__font ">Cards are used to group and display content in a way that is easily readable.</p>
    </div>
    <!-- basic -->
    <p class="documentation">Basic Card</p>
    <div class="card flex--column">
      <div class="card--hover flex--column">
        <div class="card__aside">
          <div class="card__figure">
            <img src="https://picsum.photos/350/200" alt="picsum image" class="card__image" />
          </div>
        </div>
        <div class="card__header">
          <h1 class="card__title">Card Template</h1>
          <h3 class="card__subtitle">by Aryak Lahane</h3>
        </div>
        <div class="card__body">
          <p class="card__copy flex--column">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus
            incidunt facilis eligendi numquam odio aspernatur commodi fugiat
            amet nemo ad!
          </p>
        </div>
      </div>
      <div class="card__footer">
        <div class="card__actions flex--row">
          <button class="card__txtbtn">Read</button>
          <button class="card__txtbtn">Bookmark</button>
          <button class="card__iconbtn" title="like">
            <span class="material-icons">favorite_outline</span>
          </button>
          <button class="card__iconbtn" title="share">
            <span class="material-icons"> share </span>
          </button>
          <button class="card__iconbtn" title="more options">
            <span class="material-icons"> more_vert </span>
          </button>
        </div>
      </div>
    </div>
    <pre class="docs__code"><code class="language-html">&ltdiv class="card flex--column"&gt
  &ltdiv class="card--hover flex--column"&gt
    &ltdiv class="card__aside"&gt
      &ltdiv class="card__figure"&gt
        &ltimg src="https://picsum.photos/350/200" alt="picsum image" class="card__image" /&gt
      &lt/div&gt
    &lt/div&gt
    &ltdiv class="card__header"&gt
      &lth1 class="card__title"&gtCard Template&lt/h1&gt
      &lth3 class="card__subtitle"&gtby Aryak Lahane&lt/h3&gt
    &lt/div&gt
    &ltdiv class="card__body"&gt
      &ltp class="card__copy flex--column"&gt
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus
        incidunt facilis eligendi numquam odio aspernatur commodi fugiat
        amet nemo ad!
      &lt/p&gt
    &lt/div&gt
  &lt/div&gt
  &ltdiv class="card__footer"&gt
    &ltdiv class="card__actions flex--row"&gt
      &ltbutton class="card__txtbtn"&gtRead&lt/button&gt
      &ltbutton class="card__txtbtn"&gtBookmark&lt/button&gt
      &ltbutton class="card__iconbtn" title="like"&gt
        &ltspan class="material-icons"&gtfavorite_outline&lt/span&gt
      &lt/button&gt
      &ltbutton class="card__iconbtn" title="share"&gt
        &ltspan class="material-icons"&gt share &lt/span&gt
      &lt/button&gt
      &ltbutton class="card__iconbtn" title="more options"&gt
        &ltspan class="material-icons"&gt more_vert &lt/span&gt
      &lt/button&gt
    &lt/div&gt
  &lt/div&gt
&lt/div&gt</code></pre>
    <!-- basic with badge -->
    <p class="documentation">Card with Badge</p>
    <div class="card flex--column">
      <div class="card--hover flex--column">
        <div class="card__aside">
          <div class="card__figure">
            <img src="https://picsum.photos/350/200" alt="picsum image" class="card__image" />
            <span class="card__badge">new!!</span>
          </div>
        </div>
        <div class="card__header">
          <h1 class="card__title">Card Template</h1>
          <h3 class="card__subtitle">by Aryak Lahane</h3>
        </div>
        <div class="card__body">
          <p class="card__copy flex--column">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus
            incidunt facilis eligendi numquam odio aspernatur commodi fugiat
            amet nemo ad!
          </p>
        </div>
      </div>
      <div class="card__footer">
        <div class="card__actions flex--row">
          <button class="card__txtbtn">Read</button>
          <button class="card__txtbtn">Bookmark</button>
          <button class="card__iconbtn" title="like">
            <span class="material-icons">favorite_outline</span>
          </button>
          <button class="card__iconbtn" title="share">
            <span class="material-icons"> share </span>
          </button>
          <button class="card__iconbtn" title="more options">
            <span class="material-icons"> more_vert </span>
          </button>
        </div>
      </div>
    </div>
    <pre class="docs__code"><code class="language-html">&ltdiv class="card flex--column"&gt
  &ltdiv class="card--hover flex--column"&gt
    &ltdiv class="card__aside"&gt
      &ltdiv class="card__figure"&gt
        &ltimg src="https://picsum.photos/350/200" alt="picsum image" class="card__image" /&gt
        &ltspan class="card__badge"&gtnew!!&lt/span&gt
      &lt/div&gt
    &lt/div&gt
    &ltdiv class="card__header"&gt
      &lth1 class="card__title"&gtCard Template&lt/h1&gt
      &lth3 class="card__subtitle"&gtby Aryak Lahane&lt/h3&gt
    &lt/div&gt
    &ltdiv class="card__body"&gt
      &ltp class="card__copy flex--column"&gt
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus
        incidunt facilis eligendi numquam odio aspernatur commodi fugiat
        amet nemo ad!
      &lt/p&gt
    &lt/div&gt
  &lt/div&gt
  &ltdiv class="card__footer"&gt
    &ltdiv class="card__actions flex--row"&gt
      &ltbutton class="card__txtbtn"&gtRead&lt/button&gt
      &ltbutton class="card__txtbtn"&gtBookmark&lt/button&gt
      &ltbutton class="card__iconbtn" title="like"&gt
        &ltspan class="material-icons"&gtfavorite_outline&lt/span&gt
      &lt/button&gt
      &ltbutton class="card__iconbtn" title="share"&gt
        &ltspan class="material-icons"&gt share &lt/span&gt
      &lt/button&gt
      &ltbutton class="card__iconbtn" title="more options"&gt
        &ltspan class="material-icons"&gt more_vert &lt/span&gt
      &lt/button&gt
    &lt/div&gt
  &lt/div&gt
&lt/div&gt</code></pre>
    <!-- closable card -->
    <p class="documentation">Closeable Card</p>
    <div class="card flex--column">
      <div class="card--hover flex--column">
        <div class="card__aside">
          <div class="card__figure">
            <img src="https://picsum.photos/350/200" alt="picsum image" class="card__image" />
            <span class="material-icons card__close" title="close">close</span>
          </div>
        </div>
        <div class="card__header">
          <h1 class="card__title">Card Template</h1>
          <h3 class="card__subtitle">by Aryak Lahane</h3>
        </div>
        <div class="card__body">
          <p class="card__copy flex--column">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus
            incidunt facilis eligendi numquam odio aspernatur commodi fugiat
            amet nemo ad!
          </p>
        </div>
      </div>
      <div class="card__footer">
        <div class="card__actions flex--row">
          <button class="card__txtbtn">Read</button>
          <button class="card__txtbtn">Bookmark</button>
          <button class="card__iconbtn" title="like">
            <span class="material-icons">favorite_outline</span>
          </button>
          <button class="card__iconbtn" title="share">
            <span class="material-icons"> share </span>
          </button>
          <button class="card__iconbtn" title="more options">
            <span class="material-icons"> more_vert </span>
          </button>
        </div>
      </div>
    </div>
    <pre class="docs__code"><code class="language-html">&ltdiv class="card flex--column"&gt
  &ltdiv class="card--hover flex--column"&gt
    &ltdiv class="card__aside"&gt
      &ltdiv class="card__figure"&gt
        &ltimg src="https://picsum.photos/350/200" alt="picsum image" class="card__image" /&gt
        &ltspan class="material-icons card__close" title="close"&gtclose&lt/span&gt
      &lt/div&gt
    &lt/div&gt
    &ltdiv class="card__header"&gt
      &lth1 class="card__title"&gtCard Template&lt/h1&gt
      &lth3 class="card__subtitle"&gtby Aryak Lahane&lt/h3&gt
    &lt/div&gt
    &ltdiv class="card__body"&gt
      &ltp class="card__copy flex--column"&gt
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus
        incidunt facilis eligendi numquam odio aspernatur commodi fugiat
        amet nemo ad!
      &lt/p&gt
    &lt/div&gt
  &lt/div&gt
  &ltdiv class="card__footer"&gt
    &ltdiv class="card__actions flex--row"&gt
      &ltbutton class="card__txtbtn"&gtRead&lt/button&gt
      &ltbutton class="card__txtbtn"&gtBookmark&lt/button&gt
      &ltbutton class="card__iconbtn" title="like"&gt
        &ltspan class="material-icons"&gtfavorite_outline&lt/span&gt
      &lt/button&gt
      &ltbutton class="card__iconbtn" title="share"&gt
        &ltspan class="material-icons"&gt share &lt/span&gt
      &lt/button&gt
      &ltbutton class="card__iconbtn" title="more options"&gt
        &ltspan class="material-icons"&gt more_vert &lt/span&gt
      &lt/button&gt
    &lt/div&gt
  &lt/div&gt
&lt/div&gt</code></pre>
    <!-- only icons -->
    <p class="documentation">Card with only icons</p>
    <div class="card flex--column">
      <div class="card--hover flex--column">
        <div class="card__aside">
          <div class="card__figure">
            <img src="https://picsum.photos/350/200" alt="picsum image" class="card__image" />
          </div>
        </div>
        <div class="card__header">
          <h1 class="card__title">Card Template</h1>
          <h3 class="card__subtitle">by Aryak Lahane</h3>
        </div>
        <div class="card__body">
          <p class="card__copy flex--column">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus
            incidunt facilis eligendi numquam odio aspernatur commodi fugiat
            amet nemo ad!
          </p>
        </div>
      </div>
      <div class="card__footer">
        <div class="card__actions flex--row">
          <button class="card__txtbtn card__only-iconbtn">Read</button>
          <button class="card__txtbtn card__only-iconbtn">Bookmark</button>
          <button class="card__iconbtn" title="like">
            <span class="material-icons">favorite_outline</span>
          </button>
          <button class="card__iconbtn" title="share">
            <span class="material-icons"> share </span>
          </button>
          <button class="card__iconbtn" title="more options">
            <span class="material-icons"> more_vert </span>
          </button>
        </div>
      </div>
    </div>
    <pre class="docs__code"><code class="language-html">&ltdiv class="card flex--column"&gt
      &ltdiv class="card--hover flex--column"&gt
        &ltdiv class="card__aside"&gt
          &ltdiv class="card__figure"&gt
            &ltimg src="https://picsum.photos/350/200" alt="picsum image" class="card__image" /&gt
          &lt/div&gt
        &lt/div&gt
        &ltdiv class="card__header"&gt
          &lth1 class="card__title"&gtCard Template&lt/h1&gt
          &lth3 class="card__subtitle"&gtby Aryak Lahane&lt/h3&gt
        &lt/div&gt
        &ltdiv class="card__body"&gt
          &ltp class="card__copy flex--column"&gt
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus
            incidunt facilis eligendi numquam odio aspernatur commodi fugiat
            amet nemo ad!
          &lt/p&gt
        &lt/div&gt
      &lt/div&gt
      &ltdiv class="card__footer"&gt
        &ltdiv class="card__actions flex--row"&gt
          &ltbutton class="card__txtbtn card__only-iconbtn"&gtRead&lt/button&gt
          &ltbutton class="card__txtbtn card__only-iconbtn"&gtBookmark&lt/button&gt
          &ltbutton class="card__iconbtn" title="like"&gt
            &ltspan class="material-icons"&gtfavorite_outline&lt/span&gt
          &lt/button&gt
          &ltbutton class="card__iconbtn" title="share"&gt
            &ltspan class="material-icons"&gt share &lt/span&gt
          &lt/button&gt
          &ltbutton class="card__iconbtn" title="more options"&gt
            &ltspan class="material-icons"&gt more_vert &lt/span&gt
          &lt/button&gt
        &lt/div&gt
      &lt/div&gt
    &lt/div&gt</code></pre>
    <!-- only button -->
    <p class="documentation">Card with only buttons</p>
    <div class="card flex--column">
      <div class="card--hover flex--column">
        <div class="card__aside">
          <div class="card__figure">
            <img src="https://picsum.photos/350/200" alt="picsum image" class="card__image" />
          </div>
        </div>
        <div class="card__header">
          <h1 class="card__title">Card Template</h1>
          <h3 class="card__subtitle">by Aryak Lahane</h3>
        </div>
        <div class="card__body">
          <p class="card__copy flex--column">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus
            incidunt facilis eligendi numquam odio aspernatur commodi fugiat
            amet nemo ad!
          </p>
        </div>
      </div>
      <div class="card__footer">
        <div class="card__actions flex--row">
          <button class="card__txtbtn">Read</button>
          <button class="card__txtbtn">Bookmark</button>
          <button class="card__iconbtn card__only-txtbtn" title="like">
            <span class="material-icons">favorite_outline</span>
          </button>
          <button class="card__iconbtn card__only-txtbtn" title="share">
            <span class="material-icons"> share </span>
          </button>
          <button class="card__iconbtn card__only-txtbtn" title="more options">
            <span class="material-icons"> more_vert </span>
          </button>
        </div>
      </div>
    </div>
    <pre class="docs__code"><code class="language-html">&ltdiv class="card flex--column"&gt
  &ltdiv class="card--hover flex--column"&gt
    &ltdiv class="card__aside"&gt
      &ltdiv class="card__figure"&gt
        &ltimg src="https://picsum.photos/350/200" alt="picsum image" class="card__image" /&gt
      &lt/div&gt
    &lt/div&gt
    &ltdiv class="card__header"&gt
      &lth1 class="card__title"&gtCard Template&lt/h1&gt
      &lth3 class="card__subtitle"&gtby Aryak Lahane&lt/h3&gt
    &lt/div&gt
    &ltdiv class="card__body"&gt
      &ltp class="card__copy flex--column"&gt
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus
        incidunt facilis eligendi numquam odio aspernatur commodi fugiat
        amet nemo ad!
      &lt/p&gt
    &lt/div&gt
  &lt/div&gt
  &ltdiv class="card__footer"&gt
    &ltdiv class="card__actions flex--row"&gt
      &ltbutton class="card__txtbtn"&gtRead&lt/button&gt
      &ltbutton class="card__txtbtn"&gtBookmark&lt/button&gt
      &ltbutton class="card__iconbtn card__only-txtbtn" title="like"&gt
        &ltspan class="material-icons"&gtfavorite_outline&lt/span&gt
      &lt/button&gt
      &ltbutton class="card__iconbtn card__only-txtbtn" title="share"&gt
        &ltspan class="material-icons"&gt share &lt/span&gt
      &lt/button&gt
      &ltbutton class="card__iconbtn card__only-txtbtn" title="more options"&gt
        &ltspan class="material-icons"&gt more_vert &lt/span&gt
      &lt/button&gt
    &lt/div&gt
  &lt/div&gt
&lt/div&gt</code></pre>
    <!-- card with header -->
    <p class="documentation">Card with header at the top</p>
    <div class="card flex--column">
      <div class="card--hover flex--column">
        <div class="card__aside card__with-header">
          <div class="card__figure">
            <img src="https://picsum.photos/350/200" alt="picsum image" class="card__image" />
          </div>
        </div>
        <div class="card__header card__with-header">
          <h1 class="card__title">Card Template</h1>
          <h3 class="card__subtitle">by Aryak Lahane</h3>
        </div>
        <div class="card__body card__with-header">
          <p class="card__copy flex--column">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus
            incidunt facilis eligendi numquam odio aspernatur commodi fugiat
            amet nemo ad!
          </p>
        </div>
      </div>
      <div class="card__footer">
        <div class="card__actions flex--row">
          <button class="card__txtbtn">Read</button>
          <button class="card__txtbtn">Bookmark</button>
          <button class="card__iconbtn" title="like">
            <span class="material-icons">favorite_outline</span>
          </button>
          <button class="card__iconbtn" title="share">
            <span class="material-icons"> share </span>
          </button>
          <button class="card__iconbtn" title="more options">
            <span class="material-icons"> more_vert </span>
          </button>
        </div>
      </div>
    </div>
    <pre class="docs__code"><code class="language-html">&ltdiv class="card flex--column"&gt
  &ltdiv class="card--hover flex--column"&gt
    &ltdiv class="card__aside card__with-header"&gt
      &ltdiv class="card__figure"&gt
        &ltimg src="https://picsum.photos/350/200" alt="picsum image" class="card__image" /&gt
      &lt/div&gt
    &lt/div&gt
    &ltdiv class="card__header card__with-header"&gt
      &lth1 class="card__title"&gtCard Template&lt/h1&gt
      &lth3 class="card__subtitle"&gtby Aryak Lahane&lt/h3&gt
    &lt/div&gt
    &ltdiv class="card__body card__with-header"&gt
      &ltp class="card__copy flex--column"&gt
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus
        incidunt facilis eligendi numquam odio aspernatur commodi fugiat
        amet nemo ad!
      &lt/p&gt
    &lt/div&gt
  &lt/div&gt
  &ltdiv class="card__footer"&gt
    &ltdiv class="card__actions flex--row"&gt
      &ltbutton class="card__txtbtn"&gtRead&lt/button&gt
      &ltbutton class="card__txtbtn"&gtBookmark&lt/button&gt
      &ltbutton class="card__iconbtn" title="like"&gt
        &ltspan class="material-icons"&gtfavorite_outline&lt/span&gt
      &lt/button&gt
      &ltbutton class="card__iconbtn" title="share"&gt
        &ltspan class="material-icons"&gt share &lt/span&gt
      &lt/button&gt
      &ltbutton class="card__iconbtn" title="more options"&gt
        &ltspan class="material-icons"&gt more_vert &lt/span&gt
      &lt/button&gt
    &lt/div&gt
  &lt/div&gt
&lt/div&gt</code></pre>
    <!-- txt over img -->
    <p class="documentation">Card with text over image</p>
    <div class="card flex--column">
      <div class="card--hover flex--column">
        <div class="card__aside">
          <div class="card__figure">
            <img src="https://picsum.photos/350/200" alt="picsum image" class="card__image" />
          </div>
        </div>
        <div class="card__header card__txt-over-img">
          <h1 class="card__title">Card Template</h1>
          <h3 class="card__subtitle">by Aryak Lahane</h3>
        </div>
        <div class="card__body">
          <p class="card__copy flex--column">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus
            incidunt facilis eligendi numquam odio aspernatur commodi fugiat
            amet nemo ad!
          </p>
        </div>
      </div>
      <div class="card__footer">
        <div class="card__actions flex--row">
          <button class="card__txtbtn">Read</button>
          <button class="card__txtbtn">Bookmark</button>
          <button class="card__iconbtn" title="like">
            <span class="material-icons">favorite_outline</span>
          </button>
          <button class="card__iconbtn" title="share">
            <span class="material-icons"> share </span>
          </button>
          <button class="card__iconbtn" title="more options">
            <span class="material-icons"> more_vert </span>
          </button>
        </div>
      </div>
    </div>
    <pre class="docs__code"><code class="language-html">&ltdiv class="card flex--column"&gt
  &ltdiv class="card--hover flex--column"&gt
    &ltdiv class="card__aside"&gt
      &ltdiv class="card__figure"&gt
        &ltimg src="https://picsum.photos/350/200" alt="picsum image" class="card__image" /&gt
      &lt/div&gt
    &lt/div&gt
    &ltdiv class="card__header card__txt-over-img"&gt
      &lth1 class="card__title"&gtCard Template&lt/h1&gt
      &lth3 class="card__subtitle"&gtby Aryak Lahane&lt/h3&gt
    &lt/div&gt
    &ltdiv class="card__body"&gt
      &ltp class="card__copy flex--column"&gt
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus
        incidunt facilis eligendi numquam odio aspernatur commodi fugiat
        amet nemo ad!
      &lt/p&gt
    &lt/div&gt
  &lt/div&gt
  &ltdiv class="card__footer"&gt
    &ltdiv class="card__actions flex--row"&gt
      &ltbutton class="card__txtbtn"&gtRead&lt/button&gt
      &ltbutton class="card__txtbtn"&gtBookmark&lt/button&gt
      &ltbutton class="card__iconbtn" title="like"&gt
        &ltspan class="material-icons"&gtfavorite_outline&lt/span&gt
      &lt/button&gt
      &ltbutton class="card__iconbtn" title="share"&gt
        &ltspan class="material-icons"&gt share &lt/span&gt
      &lt/button&gt
      &ltbutton class="card__iconbtn" title="more options"&gt
        &ltspan class="material-icons"&gt more_vert &lt/span&gt
      &lt/button&gt
    &lt/div&gt
  &lt/div&gt
&lt/div&gt</code></pre>
    <!-- horizontal -->
    <p class="documentation">Horizontal Card</p>
    <div class="card flex--column">
      <div class="card--hover flex--row">
        <div class="card__aside">
          <div class="card__figure card__horizontal">
            <img src="https://picsum.photos/350/200" alt="picsum image" class="card__image" />
          </div>
        </div>
        <div class="card__header">
          <h1 class="card__title">Card Template</h1>
          <h3 class="card__subtitle">by Aryak Lahane</h3>
        </div>
        <div class="card__body card__horizontal">
          <p class="card__copy flex--column">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus
            incidunt facilis eligendi numquam odio aspernatur commodi fugiat
            amet nemo ad!
          </p>
        </div>
      </div>
      <div class="card__footer">
        <div class="card__actions flex--row">
          <button class="card__txtbtn">Read</button>
          <button class="card__txtbtn">Bookmark</button>
          <button class="card__iconbtn" title="like">
            <span class="material-icons">favorite_outline</span>
          </button>
          <button class="card__iconbtn" title="share">
            <span class="material-icons"> share </span>
          </button>
          <button class="card__iconbtn" title="more options">
            <span class="material-icons"> more_vert </span>
          </button>
        </div>
      </div>
    </div>
    <pre class="docs__code"><code class="language-html">&ltdiv class="card flex--column"&gt
  &ltdiv class="card--hover flex--row"&gt
    &ltdiv class="card__aside"&gt
      &ltdiv class="card__figure card__horizontal"&gt
        &ltimg src="https://picsum.photos/350/200" alt="picsum image" class="card__image" /&gt
      &lt/div&gt
    &lt/div&gt
    &ltdiv class="card__header"&gt
      &lth1 class="card__title"&gtCard Template&lt/h1&gt
      &lth3 class="card__subtitle"&gtby Aryak Lahane&lt/h3&gt
    &lt/div&gt
    &ltdiv class="card__body card__horizontal"&gt
      &ltp class="card__copy flex--column"&gt
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus
        incidunt facilis eligendi numquam odio aspernatur commodi fugiat
        amet nemo ad!
      &lt/p&gt
    &lt/div&gt
  &lt/div&gt
  &ltdiv class="card__footer"&gt
    &ltdiv class="card__actions flex--row"&gt
      &ltbutton class="card__txtbtn"&gtRead&lt/button&gt
      &ltbutton class="card__txtbtn"&gtBookmark&lt/button&gt
      &ltbutton class="card__iconbtn" title="like"&gt
        &ltspan class="material-icons"&gtfavorite_outline&lt/span&gt
      &lt/button&gt
      &ltbutton class="card__iconbtn" title="share"&gt
        &ltspan class="material-icons"&gt share &lt/span&gt
      &lt/button&gt
      &ltbutton class="card__iconbtn" title="more options"&gt
        &ltspan class="material-icons"&gt more_vert &lt/span&gt
      &lt/button&gt
    &lt/div&gt
  &lt/div&gt
&lt/div&gt</code></pre>
    <!-- text only card -->
    <p class="documentation">Text only Card</p>
    <div class="card flex--column">
      <div class="card--hover flex--column">
        <div class="card__aside">
          <div class="card__figure card__text-only">
            <img src="https://picsum.photos/350/200" alt="picsum image" class="card__image" />
          </div>
        </div>
        <div class="card__header">
          <h1 class="card__title">Card Template</h1>
          <h3 class="card__subtitle">by Aryak Lahane</h3>
        </div>
        <div class="card__body">
          <p class="card__copy flex--column">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus
            incidunt facilis eligendi numquam odio aspernatur commodi fugiat
            amet nemo ad!
          </p>
        </div>
      </div>
      <div class="card__footer">
        <div class="card__actions flex--row">
          <button class="card__txtbtn">Read</button>
          <button class="card__txtbtn">Bookmark</button>
          <button class="card__iconbtn" title="like">
            <span class="material-icons">favorite_outline</span>
          </button>
          <button class="card__iconbtn" title="share">
            <span class="material-icons"> share </span>
          </button>
          <button class="card__iconbtn" title="more options">
            <span class="material-icons"> more_vert </span>
          </button>
        </div>
      </div>
    </div>
    <pre class="docs__code"><code class="language-html">&ltdiv class="card flex--column"&gt
  &ltdiv class="card--hover flex--column"&gt
    &ltdiv class="card__aside"&gt
      &ltdiv class="card__figure card__text-only"&gt
        &ltimg src="https://picsum.photos/350/200" alt="picsum image" class="card__image" /&gt
      &lt/div&gt
    &lt/div&gt
    &ltdiv class="card__header"&gt
      &lth1 class="card__title"&gtCard Template&lt/h1&gt
      &lth3 class="card__subtitle"&gtby Aryak Lahane&lt/h3&gt
    &lt/div&gt
    &ltdiv class="card__body"&gt
      &ltp class="card__copy flex--column"&gt
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus
        incidunt facilis eligendi numquam odio aspernatur commodi fugiat
        amet nemo ad!
      &lt/p&gt
    &lt/div&gt
  &lt/div&gt
  &ltdiv class="card__footer"&gt
    &ltdiv class="card__actions flex--row"&gt
      &ltbutton class="card__txtbtn"&gtRead&lt/button&gt
      &ltbutton class="card__txtbtn"&gtBookmark&lt/button&gt
      &ltbutton class="card__iconbtn" title="like"&gt
        &ltspan class="material-icons"&gtfavorite_outline&lt/span&gt
      &lt/button&gt
      &ltbutton class="card__iconbtn" title="share"&gt
        &ltspan class="material-icons"&gt share &lt/span&gt
      &lt/button&gt
      &ltbutton class="card__iconbtn" title="more options"&gt
        &ltspan class="material-icons"&gt more_vert &lt/span&gt
      &lt/button&gt
    &lt/div&gt
  &lt/div&gt
&lt/div&gt</code></pre>
  </div>
  </div>
  <script src="/documentation/prism.js"></script>
</body>

</html>