<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="A design system for enterprise-level products. Clean HTML with component classes .Customizable and theme able." />
  <link rel="stylesheet" href="/main.css" />
  <link rel="stylesheet" href="/documentation/prism.css">
  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
  <title>Inputs | Astro UI</title>
</head>

<body>
  <header class="header flex--row">
    <a href="/index.html">
      <div class="header__logo-container flex--row">
        <img src="/assets/zodiaclogo.png" alt="AtroUI logo" class="logo__img" />
        <h2 class="header__logo">Astro UI</h2>
      </div>
    </a>
    <nav class="header__nav flex--row">
      <ul>
        <li><a href="/documentation.html">Documentation</a></li>
        <li><a href="/components_page.html">Components</a></li>
        <li><a href="https://github.com/ark2002/astro-ui">Github</a></li>
      </ul>
    </nav>
  </header>
  <div class="page__container flex--column">
    <div class="page__header">
      <h1 class="primary__font heading1 text-align--center">Input</h1>
      <p class="secondary__font ">Inputs are used to take information from the user.</p>
    </div>
    <p class="documentation">Basic Input</p>
    <div class="form__input flex--row">
      <input type="input" class="input__txt" placeholder="Name" name="name" id="name" required />
    </div>
    <pre class="docs__code"><code class="language-html">&ltdiv class="form__input flex--row"&gt
  &ltinput type="input" class="input__txt" placeholder="Name" name="name" id="name" required /&gt
&lt/div&gt</code></pre>
    <p class="documentation">Basic Input with Icon</p>
    <div class="form__input flex--row">
      <input type="input" class="input__txt" placeholder="Name" name="name" id="name" required />
      <span class="material-icons md-16 input__icon">search</span>
    </div>
    <pre class="docs__code"><code class="language-html">&ltdiv class="form__input flex--row"&gt
  &ltinput type="input" class="input__txt" placeholder="Name" name="name" id="name" required /&gt
  &ltspan class="material-icons md-16 input__icon"&gtsearch&lt/span&gt
&lt/div&gt</code></pre>
    <p class="documentation">Focused Inputs</p>
    <div class="form__input flex--row input--focused">
      <input type="input" class="input__txt input--focused" placeholder="Name" name="name" id="name" required />
    </div>
    <div class="form__input flex--row input--focused">
      <input type="input" class="input__txt input--focused" placeholder="Name" name="name" id="name" required />
      <span class="material-icons md-16 input__icon">search</span>
    </div>
    <pre class="docs__code"><code class="language-html">&ltdiv class="form__input flex--row input--focused"&gt
  &ltinput type="input" class="input__txt input--focused" placeholder="Name" name="name" id="name" required /&gt
&lt/div&gt
&ltdiv class="form__input flex--row input--focused"&gt
  &ltinput type="input" class="input__txt input--focused" placeholder="Name" name="name" id="name" required /&gt
  &ltspan class="material-icons md-16 input__icon"&gtsearch&lt/span&gt
&lt/div&gt</code></pre>
    <p class="documentation">Input Validator : Successful</p>
    <div class="form__input flex--row">
      <input type="input" class="input__txt input--valid" placeholder="Aloo baloo" name="name" id="name" required />
    </div>
    <p class="form__label label--valid">Valid! Log-in Successful</p>
    <pre class="docs__code"><code class="language-html">&ltdiv class="form__input flex--row"&gt
  &ltinput type="input" class="input__txt input--valid" placeholder="Aloo baloo" name="name" id="name" required /&gt
&lt/div&gt
&ltp class="form__label label--valid"&gtValid! Log-in Successful&lt/p&gt</code></pre>
    <p class="documentation">Input Validator : Unsuccesful</p>
    <div class="form__input flex--row ">
      <input type="input" class="input__txt input--invalid" placeholder="Aloo baloo" name="name" id="name" required />
    </div>
    <p class="form__label label--invalid">InValid! Try again later</p>
    <pre class="docs__code"><code class="language-html">&ltdiv class="form__input flex--row "&gt
  &ltinput type="input" class="input__txt input--invalid" placeholder="Aloo baloo" name="name" id="name" required /&gt
&lt/div&gt
&ltp class="form__label label--invalid"&gtInValid! Try again later&lt/p&gt
</code></pre>
  </div>
  <script src="/documentation/prism.js"></script>
</body>

</html>