<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
    content="A design system for enterprise-level products. Clean HTML with component classes .Customizable and theme able." />
    <link rel="stylesheet" href="/main.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="icon" type="image/x-icon" href="/assests/favicon.ico" />
    <title>Astro UI | Button</title>
  </head>
  <body>
    <div class="page__container flex--column">
      <header class="header flex--row">
        <a href="/index.html">
          <div class="header__logo-container flex--row">
            <img src="/assests/zodiaclogo.png" alt="AtroUI logo" class="logo__img" />
            <h2 class="header__logo">Astro UI</h2>
          </div>
        </a>
        <nav class="header_nav flex--row">
          <ul>
            <li><a href="#">Documentation</a></li>
            <li><a href="/components_page.html">Components</a></li>
            <li><a href="https://github.com/ark2002/astro-ui">Github</a></li>
          </ul>
        </nav>
      </header>
      <div class="btn__demo">
      <p class="documentation">Solid Rectangular Buttons</p>
    <div class="btn__basic">
      <button class="btn btn-color--primary btn-font--primary">primary</button>
      <button class="btn btn-color--secondary btn-font--primary">
        secondary
      </button>
      <button class="btn btn-color--tertiary btn-font--primary">
        tertiary
      </button>
      <button class="btn btn-color--primary btn-font--secondary">
        primary
      </button>
      <button class="btn btn-color--secondary btn-font--secondary">
        secondary
      </button>
      <button class="btn btn-color--tertiary btn-font--secondary">
        tertiary
      </button>
    </div>
    <p class="documentation">Solid Rounded Buttons</p>
    <div class="btn__border--radius">
      <button class="btn btn-color--primary btn-font--primary">primary</button>
      <button class="btn btn-color--secondary btn-font--primary">
        secondary
      </button>
      <button class="btn btn-color--tertiary btn-font--primary">
        tertiary
      </button>
      <button class="btn btn-color--primary btn-font--secondary">
        primary
      </button>
      <button class="btn btn-color--secondary btn-font--secondary">
        secondary
      </button>
      <button class="btn btn-color--tertiary btn-font--secondary">
        tertiary
      </button>
    </div>
    <p class="documentation">Solid Button Bullets</p>
    <div class="btn__bullets">
      <button class="btn btn-color--primary btn-font--primary">primary</button>
      <button class="btn btn-color--secondary btn-font--primary">
        secondary
      </button>
      <button class="btn btn-color--tertiary btn-font--primary">
        tertiary
      </button>
      <button class="btn btn-color--primary btn-font--secondary">
        primary
      </button>
      <button class="btn btn-color--secondary btn-font--secondary">
        secondary
      </button>
      <button class="btn btn-color--tertiary btn-font--secondary">
        tertiary
      </button>
    </div>
    <p class="documentation">Outline Rectangular Buttons</p>
    <div class="btn__outline">
      <button class="btn btn-color--primary btn-font--primary">primary</button>
      <button class="btn btn-color--secondary btn-font--primary">
        secondary
      </button>
      <button class="btn btn-color--tertiary btn-font--primary">
        tertiary
      </button>
      <button class="btn btn-color--primary btn-font--secondary">
        primary
      </button>
      <button class="btn btn-color--secondary btn-font--secondary">
        secondary
      </button>
      <button class="btn btn-color--tertiary btn-font--secondary">
        tertiary
      </button>
    </div>
    <p class="documentation">Outline Rounded Buttons</p>
    <div class="btn__border--radius btn__outline">
      <button class="btn btn-color--primary btn-font--primary">primary</button>
      <button class="btn btn-color--secondary btn-font--primary">
        secondary
      </button>
      <button class="btn btn-color--tertiary btn-font--primary">
        tertiary
      </button>
      <button class="btn btn-color--primary btn-font--secondary">
        primary
      </button>
      <button class="btn btn-color--secondary btn-font--secondary">
        secondary
      </button>
      <button class="btn btn-color--tertiary btn-font--secondary">
        tertiary
      </button>
    </div>
    <p class="documentation">Outline Button Bullets</p>
    <div class="btn__bullets btn__outline">
      <button class="btn btn-color--primary btn-font--primary">primary</button>
      <button class="btn btn-color--secondary btn-font--primary">
        secondary
      </button>
      <button class="btn btn-color--tertiary btn-font--primary">
        tertiary
      </button>
      <button class="btn btn-color--primary btn-font--secondary">
        primary
      </button>
      <button class="btn btn-color--secondary btn-font--secondary">
        secondary
      </button>
      <button class="btn btn-color--tertiary btn-font--secondary">
        tertiary
      </button>
    </div>
    <p class="documentation">Buttons Disabled</p>
    <div class=" btn--disabled btn__border--radius">
      <button class="btn btn-color--primary btn-font--primary" disabled>
        primary
      </button>
      <button class="btn btn-color--secondary btn-font--primary" disabled>
        secondary
      </button>
      <button class="btn btn-color--tertiary btn-font--primary" disabled>
        tertiary
      </button>
      <button class="btn btn-color--primary btn-font--secondary" disabled>
        primary
      </button>
      <button class="btn btn-color--secondary btn-font--secondary" disabled>
        secondary
      </button>
      <button class="btn btn-color--tertiary btn-font--secondary" disabled>
        tertiary
      </button>
    </div>
    <p class="documentation">Link Buttons</p>
    <div class="btn--link">
      <button class="btn btn-font--primary">link</button>
      <button class="btn btn-font--secondary">link</button>
      <button class="btn btn-font--primary" disabled>link</button>
      <button class="btn btn-font--secondary" disabled>link</button>
    </div>
    <p class="documentation">Buttons in diffrent Sizes</p>
    <div class="btn__border--radius btn--size">
      <button class="btn btn-color--primary btn-font--primary btn--small">
        small
      </button>
      <button class="btn btn-color--secondary btn-font--primary btn--regular">
        regular
      </button>
      <button class="btn btn-color--tertiary btn-font--primary btn--large">
        large
      </button>
      <button class="btn btn-color--primary btn-font--primary btn--small" disabled>
        small
      </button>
      <button class="btn btn-color--secondary btn-font--primary btn--regular" disabled>
        regular
      </button>
      <button class="btn btn-color--tertiary btn-font--primary btn--large" disabled>
        large
      </button>
    </div>
    <p class="documentation">Rectangular Buttons with Icons</p>
    <div class="btn__icon">
      <button class="btn btn-color--primary btn--small">
        <span class="material-icons">close</span>
      </button>
      <button class="btn btn-color--secondary btn--regular">
        <span class="material-icons">close</span>
      </button>
      <button class="btn btn-color--tertiary btn--large">
        <span class="material-icons">close</span>
      </button>
      <button class="btn btn-color--primary btn--small" disabled>
        <span class="material-icons">close</span>
      </button>
      <button class="btn btn-color--secondary btn--regular" disabled>
        <span class="material-icons">close</span>
      </button>
      <button class="btn btn-color--tertiary btn--large" disabled>
        <span class="material-icons">close</span>
      </button>
      <p class="documentation">Circle Buttons With Icons</p>
      <div class="btn__icon--round">
        <button class="btn  btn--small">
          <span class="material-icons">search</span>
        </button>
        <button class="btn  btn--regular">
          <span class="material-icons">search</span>
        </button>
        <button class="btn  btn--large">
          <span class="material-icons">search</span>
        </button>
        <button class="btn  btn--small" disabled>
          <span class="material-icons">search</span>
        </button>
        <button class="btn  btn--regular" disabled>
          <span class="material-icons">search</span>
        </button>
        <button class="btn  btn--large" disabled>
          <span class="material-icons">search</span>
        </button>
        <p class="documentation">Floating Buttons</p>
      <div class="floating__btn">
        <button class="btn btn-color--primary btn--small">
          <span class="material-icons">add</span>
        </button>
        <button class="btn btn-color--secondary btn--regular">
          <span class="material-icons">add</span>
        </button>
        <button class="btn btn-color--tertiary btn--large">
          <span class="material-icons">add</span>
        </button>
        <button class="btn btn-color--primary btn--small" disabled>
          <span class="material-icons">add</span>
        </button>
        <button class="btn btn-color--secondary btn--regular" disabled>
          <span class="material-icons">add</span>
        </button>
        <button class="btn btn-color--tertiary btn--large" disabled>
          <span class="material-icons">add</span>
        </button>
      </div>
      </div>
    </div>
    </div>
  </body>
</html>
