<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="A design system for enterprise-level products. Clean HTML with component classes .Customizable and theme able." />
  <link rel="stylesheet" href="/main.css" />
  <link rel="stylesheet" href="/documentation/prism.css">
  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
  <title>Avatar | Astro UI</title>
</head>

<body>
  <header class="header flex--row">
    <a href="/index.html">
      <div class="header__logo-container flex--row">
        <img src="/assets/zodiaclogo.png" alt="AtroUI logo" class="logo__img" />
        <h2 class="header__logo">Astro UI</h2>
      </div>
    </a>
    <nav class="header__nav flex--row">
      <ul>
        <li><a href="/documentation.html">Documentation</a></li>
        <li><a href="/components_page.html">Components</a></li>
        <li><a href="https://github.com/ark2002/astro-ui">Github</a></li>
      </ul>
    </nav>
  </header>
  <div class="page__container flex--row">
    <nav class="components__sidebar flex--column">
      <li class="sidebar__option"><a href="/components/alert/alert.html">
          <p class="primary__font text__small">Alerts</p>
        </a></li>
      <li class="sidebar__option option--selected"><a href="/components/avatar/avatar.html">
          <p class="primary__font text__small">Avatars</p>
        </a></li>
      <li class="sidebar__option"><a href="/components/badge/badge.html">
          <p class="primary__font text__small">Badges</p>
        </a></li>
      <li class="sidebar__option"><a href="/components/button/button.html">
          <p class="primary__font text__small">Buttons</p>
        </a></li>
      <li class="sidebar__option"><a href="/components/card/card.html">
          <p class="primary__font text__small">Cards</p>
        </a></li>
      <li class="sidebar__option"><a href="/components/image/image.html">
          <p class="primary__font text__small">Images</p>
        </a></li>
      <li class="sidebar__option"><a href="/components/input/input.html">
          <p class="primary__font text__small">Inputs</p>
        </a></li>
      <li class="sidebar__option"><a href="/components/navbar/navbar.html">
          <p class="primary__font text__small">Navigation</p>
        </a></li>
      <li class="sidebar__option"><a href="/components/rating/rating.html">
          <p class="primary__font text__small">Rating</p>
        </a></li>
      <li class="sidebar__option"><a href="/components/typography/typography.html">
          <p class="primary__font text__small">Typography</p>
        </a></li>
      <li class="sidebar__option"><a href="/components/slider/slider.html">
          <p class="primary__font text__small">Slider</p>
        </a></li>
      <li class="sidebar__option"><a href="/components/grid/grid.html">
          <p class="primary__font text__small">Grids</p>
        </a></li>
      <li class="sidebar__option"><a href="/components/lists/lists.html">
          <p class="primary__font text__small">Lists</p>
        </a></li>
      <li class="sidebar__option"><a href="/components/modal/modal.html">
          <p class="primary__font text__small">Modal</p>
        </a></li>
      <li class="sidebar__option"><a href="/components/toast/toast.html">
          <p class="primary__font text__small">Toast</p>
        </a></li>
    </nav>
  <div class="component__container flex--column">
    <div class="page__header">
      <h1 class="primary__font heading1 text-align--center">Avatar</h1>
      <p class="secondary__font text-align--center">Avatars are used to show a thumbnail representation of an individual
        or business in the interface. </p>
    </div>
    <p class="documentation">Basic Avatar</p>
    <div class="avatar-basic__demo flex--row">
      <div class="avatar">
        <img src="/assets/avatar.jpg" alt="avatar" class="avatar__img" />
      </div>
      <div class="avatar">
        <span class="material-icons md-48 avatar__icon">person</span>
      </div>
      <div class="avatar">
        <p class="avatar__txt">A</p>
      </div>
    </div>
    <pre class="docs__code"><code class="language-html">&ltdiv class="avatar-basic__demo flex--row"&gt
  &ltdiv class="avatar"&gt
    &ltimg src="/assets/avatar.jpg" alt="avatar" class="avatar__img" /&gt
  &lt/div&gt
  &ltdiv class="avatar"&gt
    &ltspan class="material-icons md-48 avatar__icon"&gtperson&lt/span&gt
  &lt/div&gt
  &ltdiv class="avatar"&gt
    &ltp class="avatar__txt"&gtA&lt/p&gt
  &lt/div&gt
&lt/div&gt</code></pre>
    <hr>
    <p class="documentation">Avatar with status: offline</p>
    <div class="avatar-basic__demo avatar--badge flex--row">
      <div class="avatar">
        <img src="/assets/avatar.jpg" alt="avatar" class="avatar__img" />
        <div class="status-circle offline"></div>
      </div>
      <div class="avatar">
        <span class="material-icons md-48 avatar__icon">person</span>
        <div class="status-circle offline"></div>
      </div>
      <div class="avatar">
        <p class="avatar__txt">A</p>
        <div class="status-circle offline"></div>
      </div>
    </div>
    <pre class="docs__code"><code class="language-html">&ltdiv class="avatar-basic__demo avatar--badge flex--row"&gt
  &ltdiv class="avatar"&gt
    &ltimg src="/assets/avatar.jpg" alt="avatar" class="avatar__img" /&gt
    &ltdiv class="status-circle offline"&gt&lt/div&gt
  &lt/div&gt
  &ltdiv class="avatar"&gt
    &ltspan class="material-icons md-48 avatar__icon"&gtperson&lt/span&gt
    &ltdiv class="status-circle offline"&gt&lt/div&gt
  &lt/div&gt
  &ltdiv class="avatar"&gt
    &ltp class="avatar__txt"&gtA&lt/p&gt
    &ltdiv class="status-circle offline"&gt&lt/div&gt
  &lt/div&gt
&lt/div&gt</code></pre>
    <p class="documentation">Avatar with status: online</p>
    <div class="avatar-basic__demo avatar--badge flex--row">
      <div class="avatar">
        <img src="/assets/avatar.jpg" alt="avatar" class="avatar__img" />
        <div class="status-circle online"></div>
      </div>
      <div class="avatar">
        <span class="material-icons md-48 avatar__icon">person</span>
        <div class="status-circle online"></div>
      </div>
      <div class="avatar">
        <p class="avatar__txt">A</p>
        <div class="status-circle online"></div>
      </div>
    </div>
    <pre class="docs__code"><code class="language-html">&ltdiv class="avatar-basic__demo avatar--badge flex--row"&gt
  &ltdiv class="avatar"&gt
    &ltimg src="/assets/avatar.jpg" alt="avatar" class="avatar__img" /&gt
    &ltdiv class="status-circle online"&gt&lt/div&gt
  &lt/div&gt
  &ltdiv class="avatar"&gt
    &ltspan class="material-icons md-48 avatar__icon"&gtperson&lt/span&gt
    &ltdiv class="status-circle online"&gt&lt/div&gt
  &lt/div&gt
  &ltdiv class="avatar"&gt
    &ltp class="avatar__txt"&gtA&lt/p&gt
    &ltdiv class="status-circle online"&gt&lt/div&gt
  &lt/div&gt
&lt/div&gt</code></pre>
    <p class="documentation">Avatar with status: busy</p>
    <div class="avatar-basic__demo avatar--badge flex--row">
      <div class="avatar">
        <img src="/assets/avatar.jpg" alt="avatar" class="avatar__img" />
        <div class="status-circle busy"></div>
      </div>
      <div class="avatar">
        <span class="material-icons md-48 avatar__icon">person</span>
        <div class="status-circle busy"></div>
      </div>
      <div class="avatar">
        <p class="avatar__txt">A</p>
        <div class="status-circle busy"></div>
      </div>
    </div>
    <pre class="docs__code"><code class="language-html">&ltdiv class="avatar-basic__demo avatar--badge flex--row"&gt
  &ltdiv class="avatar"&gt
    &ltimg src="/assets/avatar.jpg" alt="avatar" class="avatar__img" /&gt
    &ltdiv class="status-circle busy"&gt&lt/div&gt
  &lt/div&gt
  &ltdiv class="avatar"&gt
    &ltspan class="material-icons md-48 avatar__icon"&gtperson&lt/span&gt
    &ltdiv class="status-circle busy"&gt&lt/div&gt
  &lt/div&gt
  &ltdiv class="avatar"&gt
    &ltp class="avatar__txt"&gtA&lt/p&gt
    &ltdiv class="status-circle busy"&gt&lt/div&gt
  &lt/div&gt
&lt/div&gt</code></pre>
    <p class="documentation">Avatar with notications badge</p>
    <div class="avatar-basic__demo avatar--badge flex--row">
      <div class="avatar">
        <img src="/assets/avatar.jpg" alt="avatar" class="avatar__img" />
        <div class="status-circle notification">2</div>
      </div>
      <div class="avatar">
        <span class="material-icons md-48 avatar__icon">person</span>
        <div class="status-circle notification">1</div>
      </div>
      <div class="avatar">
        <p class="avatar__txt">A</p>
        <div class="status-circle notification">8</div>
      </div>
    </div>
    <pre class="docs__code"><code class="language-html">&ltdiv class="avatar-basic__demo avatar--badge flex--row"&gt
  &ltdiv class="avatar"&gt
    &ltimg src="/assets/avatar.jpg" alt="avatar" class="avatar__img" /&gt
    &ltdiv class="status-circle notification"&gt2&lt/div&gt
  &lt/div&gt
  &ltdiv class="avatar"&gt
    &ltspan class="material-icons md-48 avatar__icon"&gtperson&lt/span&gt
    &ltdiv class="status-circle notification"&gt1&lt/div&gt
  &lt/div&gt
  &ltdiv class="avatar"&gt
    &ltp class="avatar__txt"&gtA&lt/p&gt
    &ltdiv class="status-circle notification"&gt8&lt/div&gt
  &lt/div&gt
&lt/div&gt</code></pre>
    <p class="documentation">Avatar stacked</p>
    <div class="avatar-basic__demo flex--row">
      <div class="avatar">
        <img src="/assets/avatar.jpg" alt="avatar " class="avatar__img" />
      </div>
      <div class="avatar avatar--stacked">
        <span class="material-icons md-48 avatar__icon">person</span>
      </div>
      <div class="avatar avatar--stacked">
        <p class="avatar__txt">A</p>
      </div>
    </div>
    <pre class="docs__code"><code class="language-html">&ltdiv class="avatar-basic__demo flex--row"&gt
  &ltdiv class="avatar"&gt
    &ltimg src="/assets/avatar.jpg" alt="avatar " class="avatar__img" /&gt
  &lt/div&gt
  &ltdiv class="avatar avatar--stacked"&gt
    &ltspan class="material-icons md-48 avatar__icon"&gtperson&lt/span&gt
  &lt/div&gt
  &ltdiv class="avatar avatar--stacked"&gt
    &ltp class="avatar__txt"&gtA&lt/p&gt
  &lt/div&gt
&lt/div&gt</code></pre>
  </div>
  </div>
  <script src="/documentation/prism.js"></script>
</body>

</html>