<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="A design system for enterprise-level products. Clean HTML with component classes .Customizable and theme able." />
  <link rel="stylesheet" href="/main.css" />
  <link rel="icon" type="image/x-icon" href="/assests/favicon.ico" />
  <title>Avatar | Astro UI</title>
</head>

<body>
  <div class="page__container flex--column">
    <header class="header flex--row">
      <a href="/index.html">
        <div class="header__logo-container flex--row">
          <img src="/assests/zodiaclogo.png" alt="AtroUI logo" class="logo__img" />
          <h2 class="header__logo">Astro UI</h2>
        </div>
      </a>
      <nav class="header_nav flex--row">
        <ul>
          <li><a href="#">Documentation</a></li>
          <li><a href="/components_page.html">Components</a></li>
          <li><a href="https://github.com/ark2002/astro-ui">Github</a></li>
        </ul>
      </nav>
    </header>
    <p class="documentation">Basic Avatar</p>
    <div class="avatar-basic__demo flex--row">
      <div class="avatar">
        <img src="/assests/avatar.jpg" alt="avatar" class="avatar__img" />
      </div>
      <div class="avatar">
        <span class="material-icons md-48 avatar__icon">person</span>
      </div>
      <div class="avatar">
        <p class="avatar__txt">A</p>
      </div>
    </div>
    <p class="documentation">Avatar with status: offline</p>
    <div class="avatar-basic__demo avatar--badge flex--row">
      <div class="avatar">
        <img src="/assests/avatar.jpg" alt="avatar" class="avatar__img" />
        <div class="status-circle offline"></div>
      </div>
      <div class="avatar">
        <span class="material-icons md-48 avatar__icon">person</span>
        <div class="status-circle offline"></div>
      </div>
      <div class="avatar">
        <p class="avatar__txt">A</p>
        <div class="status-circle offline"></div>
      </div>
    </div>
    <p class="documentation">Avatar with status: online</p>
    <div class="avatar-basic__demo avatar--badge flex--row">
      <div class="avatar">
        <img src="/assests/avatar.jpg" alt="avatar" class="avatar__img" />
        <div class="status-circle online"></div>
      </div>
      <div class="avatar">
        <span class="material-icons md-48 avatar__icon">person</span>
        <div class="status-circle online"></div>
      </div>
      <div class="avatar">
        <p class="avatar__txt">A</p>
        <div class="status-circle online"></div>
      </div>
    </div>
    <p class="documentation">Avatar with status: busy</p>
    <div class="avatar-basic__demo avatar--badge flex--row">
      <div class="avatar">
        <img src="/assests/avatar.jpg" alt="avatar" class="avatar__img" />
        <div class="status-circle busy"></div>
      </div>
      <div class="avatar">
        <span class="material-icons md-48 avatar__icon">person</span>
        <div class="status-circle busy"></div>
      </div>
      <div class="avatar">
        <p class="avatar__txt">A</p>
        <div class="status-circle busy"></div>
      </div>
    </div>
    <p class="documentation">Avatar with notications badge</p>
    <div class="avatar-basic__demo avatar--badge flex--row">
      <div class="avatar">
        <img src="/assests/avatar.jpg" alt="avatar" class="avatar__img" />
        <div class="status-circle notification">2</div>
      </div>
      <div class="avatar">
        <span class="material-icons md-48 avatar__icon">person</span>
        <div class="status-circle notification">1</div>
      </div>
      <div class="avatar">
        <p class="avatar__txt">A</p>
        <div class="status-circle notification">8</div>
      </div>
    </div>
    <p class="documentation">Avatar stacked</p>
    <div class="avatar-basic__demo flex--row">
      <div class="avatar">
        <img src="/assests/avatar.jpg" alt="avatar " class="avatar__img" />
      </div>
      <div class="avatar avatar--stacked">
        <span class="material-icons md-48 avatar__icon">person</span>
      </div>
      <div class="avatar avatar--stacked">
        <p class="avatar__txt">A</p>
      </div>
    </div>
  </div>
</body>

</html>