<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/main.css" />
    <link rel="icon" type="image/x-icon" href="/assests/favicon.ico" />
    <title>Astro UI|Avatar</title>
  </head>

  <body>
    <div class="page__container">
      <header class="header">
        <a href="/index.html">
          <div class="header__logo-container">
            <img
              src="/assests/zodiaclogo.png"
              alt="AtroUI logo"
              class="logo__img"
            />
            <h2 class="header__logo">Astro UI</h2>
          </div>
        </a>
        <nav class="header_nav">
          <ul>
            <li><a href="#">Documentation</a></li>
            <li><a href="/components_page.html"> Components</a></li>
            <li><a href="https://github.com/ark2002/astro-ui">Github</a></li>
          </ul>
        </nav>
      </header>
      <div class="avatar-basic__demo">
        <div class="avatar">
          <img src="/assests/avatar.jpg" alt="avatar" class="avatar__img" />
        </div>
        <div class="avatar">
          <span class="material-icons md-48 avatar__icon">person</span>
        </div>
        <div class="avatar"><p class="avatar__txt">A</p></div>
      </div>

      <div class="avatar-basic__demo avatar--badge">
        <div class="avatar">
          <img src="/assests/avatar.jpg" alt="avatar" class="avatar__img" />
          <div class="status-circle offline"></div>
        </div>
        <div class="avatar">
          <span class="material-icons md-48 avatar__icon">person</span>
          <div class="status-circle offline"></div>
        </div>
        <div class="avatar">
          <p class="avatar__txt">A</p>
          <div class="status-circle offline"></div>
        </div>
      </div>

      <div class="avatar-basic__demo avatar--badge">
        <div class="avatar">
          <img src="/assests/avatar.jpg" alt="avatar" class="avatar__img" />
          <div class="status-circle online"></div>
        </div>
        <div class="avatar">
          <span class="material-icons md-48 avatar__icon">person</span>
          <div class="status-circle online"></div>
        </div>
        <div class="avatar">
          <p class="avatar__txt">A</p>
          <div class="status-circle online"></div>
        </div>
      </div>
      <div class="avatar-basic__demo avatar--badge">
        <div class="avatar">
          <img src="/assests/avatar.jpg" alt="avatar" class="avatar__img" />
          <div class="status-circle busy"></div>
        </div>
        <div class="avatar">
          <span class="material-icons md-48 avatar__icon">person</span>
          <div class="status-circle busy"></div>
        </div>
        <div class="avatar">
          <p class="avatar__txt">A</p>
          <div class="status-circle busy"></div>
        </div>
      </div>

      <div class="avatar-basic__demo avatar--badge">
        <div class="avatar">
          <img src="/assests/avatar.jpg" alt="avatar" class="avatar__img" />
          <div class="status-circle notif">2</div>
        </div>
        <div class="avatar">
          <span class="material-icons md-48 avatar__icon">person</span>
          <div class="status-circle notif">1</div>
        </div>
        <div class="avatar">
          <p class="avatar__txt">A</p>
          <div class="status-circle notif">8</div>
        </div>
      </div>

      <div class="avatar-basic__demo">
        <div class="avatar">
          <img src="/assests/avatar.jpg" alt="avatar " class="avatar__img" />
        </div>
        <div class="avatar avatar--stacked">
          <span class="material-icons md-48 avatar__icon">person</span>
        </div>
        <div class="avatar avatar--stacked"><p class="avatar__txt">A</p></div>
      </div>
    </div>
  </body>
</html>
