<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
        content="A design system for enterprise-level products. Clean HTML with component classes .Customizable and theme able." />
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="/documentation/prism.css">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <title>Slider | Astro UI</title>
</head>

<body>
    <header class="header flex--row">
        <a href="/index.html">
            <div class="header__logo-container flex--row">
                <img src="/assets/zodiaclogo.png" alt="AtroUI logo" class="logo__img" />
                <h2 class="header__logo">Astro UI</h2>
            </div>
        </a>
        <nav class="header__nav flex--row">
            <ul>
                <li><a href="/documentation.html">Documentation</a></li>
                <li><a href="/components_page.html">Components</a></li>
                <li><a href="https://github.com/ark2002/astro-ui">Github</a></li>
            </ul>
        </nav>
    </header>
    <div class="page__container flex--column">
        <div class="page__header">
            <h1 class="primary__font heading1 text-align--center">Slider</h1>
            <p class="secondary__font">Sliders allow users to make selections from a range of values.
            </p>
        </div>
        <div class="slider__wrapper">
            <header>
                <h3 class="heading3 secondary__font">Price Range</h3>
                <p class="text__small secondary__font">Use slider or enter min and max price</p>
            </header>
            <div class="slider__inputs flex--row">
                <div class="input__field flex--row">
                    <span class="secondary__font">Min</span>
                    <input type="number" class="input-min" value="2500">
                </div>
                <div class="separator flex--row">-</div>
                <div class="input__field flex--row">
                    <span class="secondary__font">Max</span>
                    <input type="number" class="input-max" value="7500">
                </div>
            </div>
            <div class="slider">
                <div class="progress"></div>
            </div>
            <div class="range-input">
                <input type="range" class="range-min" min="0" max="10000" value="2500" step="100">
                <input type="range" class="range-max" min="0" max="10000" value="7500" step="100">
            </div>
        </div>
        <pre class="docs__code"><code class="language-html">&ltdiv class="slider__wrapper"&gt
        &ltheader&gt
        &lth3 class="heading3 secondary__font"&gtPrice Range&lt/h3&gt
        &ltp class="text__small secondary__font"&gtUse slider or enter min and max price&lt/p&gt
    &lt/header&gt
    &ltdiv class="slider__inputs flex--row"&gt
        &ltdiv class="input__field flex--row"&gt
            &ltspan class="secondary__font"&gtMin&lt/span&gt
            &ltinput type="number" class="input-min" value="2500"&gt
        &lt/div&gt
        &ltdiv class="separator flex--row"&gt-&lt/div&gt
        &ltdiv class="input__field flex--row"&gt
            &ltspan class="secondary__font"&gtMax&lt/span&gt
            &ltinput type="number" class="input-max" value="7500"&gt
        &lt/div&gt
    &lt/div&gt
    &ltdiv class="slider"&gt
        &ltdiv class="progress"&gt&lt/div&gt
    &lt/div&gt
    &ltdiv class="range-input"&gt
        &ltinput type="range" class="range-min" min="0" max="10000" value="2500" step="100"&gt
        &ltinput type="range" class="range-max" min="0" max="10000" value="7500" step="100"&gt
    &lt/div&gt
&lt/div&gt</code></pre>
    </div>
    <script src="slider.js"></script>
    <script src="/documentation/prism.js"></script>
</body>

</html>