<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="A design system for enterprise-level products. Clean HTML with component classes .Customizable and theme able." />
  <link rel="stylesheet" href="/main.css" />
  <link rel="stylesheet" href="/documentation/prism.css">
  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
  <title>Alert | Astro UI</title>
</head>

<body>
  <header class="header flex--row">
    <a href="/index.html">
      <div class="header__logo-container flex--row">
        <img src="/assets/zodiaclogo.png" alt="AtroUI logo" class="logo__img" />
        <h2 class="header__logo">Astro UI</h2>
      </div>
    </a>
    <nav class="header__nav flex--row">
      <ul>
        <li><a href="/documentation.html">Documentation</a></li>
        <li><a href="/components_page.html">Components</a></li>
        <li><a href="https://github.com/ark2002/astro-ui">Github</a></li>
      </ul>
    </nav>
  </header>
  <div class="alert__demo flex--column">
    <div class="page__header">
      <h1 class="primary__font heading1 text-align--center">Alerts</h1>
      <p class="secondary__font">Alert informs users about important events.</p>
    </div>
    <p class="documentation">Basic Alerts</p>
    <div class="alert alert--info flex--row">
      <span class="material-icons alert__icon">info</span>
      <div class="alert__copy flex--column">
        <strong class="alert__title">Info Alert</strong>
        <p class="alert__subtitle display--none"></p>
      </div>
    </div>
    <div class="alert alert--success flex--row">
      <span class="material-icons alert__icon">check_circle</span>
      <div class="alert__copy flex--column">
        <strong class="alert__title">Success Alert</strong>
        <p class="alert__subtitle display--none"></p>
      </div>
    </div>
    <div class="alert alert--warning flex--row">
      <span class="material-icons alert__icon">warning</span>
      <div class="alert__copy flex--column">
        <strong class="alert__title">Warning Alert</strong>
        <p class="alert__subtitle">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod,
          maiores.
        </p>
      </div>
    </div>
    <div class="alert alert--error flex--row">
      <span class="material-icons alert__icon">error</span>
      <div class="alert__copy flex--column">
        <strong class="alert__title">Error Alert</strong>
        <p class="alert__subtitle">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam,
          non?
        </p>
      </div>
    </div>
    <pre class="docs__code"><code class="language-html">&ltdiv class="alert alert--info flex--row"&gt
  &ltspan class="material-icons alert__icon"&gtinfo&lt/span&gt
  &ltdiv class="alert__copy flex--column"&gt
    &ltstrong class="alert__title"&gtInfo Alert&lt/strong&gt
    &ltp class="alert__subtitle display--none"&gt&lt/p&gt
  &lt/div&gt
&lt/div&gt
&ltdiv class="alert alert--success flex--row"&gt
  &ltspan class="material-icons alert__icon"&gtcheck_circle&lt/span&gt
  &ltdiv class="alert__copy flex--column"&gt
    &ltstrong class="alert__title"&gtSuccess Alert&lt/strong&gt
    &ltp class="alert__subtitle display--none"&gt&lt/p&gt
  &lt/div&gt
&lt/div&gt
&ltdiv class="alert alert--warning flex--row"&gt
  &ltspan class="material-icons alert__icon"&gtwarning&lt/span&gt
  &ltdiv class="alert__copy flex--column"&gt
    &ltstrong class="alert__title"&gtWarning Alert&lt/strong&gt
    &ltp class="alert__subtitle"&gt
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod,
      maiores.
    &lt/p&gt
  &lt/div&gt
&lt/div&gt</code></pre>
    <p class="documentation">Closeable Alerts</p>
    <div class="alert alert--info alert--closeable flex--row">
      <span class="material-icons alert__icon">info</span>
      <div class="alert__copy flex--column">
        <strong class="alert__title">Info Alert with close</strong>
        <p class="alert__subtitle display--none"></p>
      </div>
      <span class="material-icons alert__close" title="close">close</span>
    </div>
    <div class="alert alert--success alert--closeable flex--row">
      <span class="material-icons alert__icon">check_circle</span>
      <div class="alert__copy flex--column">
        <strong class="alert__title">Success Alert with close</strong>
        <p class="alert__subtitle display--none"></p>
      </div>
      <span class="material-icons alert__close" title="close">close</span>
    </div>
    <div class="alert alert--warning alert--closeable flex--row">
      <span class="material-icons alert__icon">warning</span>
      <div class="alert__copy flex--column">
        <strong class="alert__title">Warning Alert with close</strong>
        <p class="alert__subtitle">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod,
          maiores.
        </p>
      </div>
      <span class="material-icons alert__close" title="close">close</span>
    </div>
    <div class="alert alert--error alert--closeable flex--row">
      <span class="material-icons alert__icon">error</span>
      <div class="alert__copy flex--column">
        <strong class="alert__title">Error Alert with close</strong>
        <p class="alert__subtitle">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam,
          non?
        </p>
      </div>
      <span class="material-icons alert__close" title="close">close</span>
    </div>
    <pre class="docs__code"><code class="language-html">&ltdiv class="alert alert--info alert--closeable flex--row"&gt
  &ltspan class="material-icons alert__icon"&gtinfo&lt/span&gt
  &ltdiv class="alert__copy flex--column"&gt
    &ltstrong class="alert__title"&gtInfo Alert with close&lt/strong&gt
    &ltp class="alert__subtitle display--none"&gt&lt/p&gt
  &lt/div&gt
  &ltspan class="material-icons alert__close" title="close"&gtclose&lt/span&gt
&lt/div&gt
&ltdiv class="alert alert--success alert--closeable flex--row"&gt
  &ltspan class="material-icons alert__icon"&gtcheck_circle&lt/span&gt
  &ltdiv class="alert__copy flex--column"&gt
    &ltstrong class="alert__title"&gtSuccess Alert with close&lt/strong&gt
    &ltp class="alert__subtitle display--none"&gt&lt/p&gt
  &lt/div&gt
  &ltspan class="material-icons alert__close" title="close"&gtclose&lt/span&gt
&lt/div&gt
&ltdiv class="alert alert--warning alert--closeable flex--row"&gt
  &ltspan class="material-icons alert__icon"&gtwarning&lt/span&gt
  &ltdiv class="alert__copy flex--column"&gt
    &ltstrong class="alert__title"&gtWarning Alert with close&lt/strong&gt
    &ltp class="alert__subtitle"&gt
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod,
      maiores.
    &lt/p&gt
  &lt/div&gt
  &ltspan class="material-icons alert__close" title="close"&gtclose&lt/span&gt
&lt/div&gt
&ltdiv class="alert alert--error alert--closeable flex--row"&gt
  &ltspan class="material-icons alert__icon"&gterror&lt/span&gt
  &ltdiv class="alert__copy flex--column"&gt
    &ltstrong class="alert__title"&gtError Alert with close&lt/strong&gt
    &ltp class="alert__subtitle"&gt
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam,
      non?
    &lt/p&gt
  &lt/div&gt
  &ltspan class="material-icons alert__close" title="close"&gtclose&lt/span&gt
&lt/div&gt</code></pre>
  </div>
  <script src="/documentation/prism.js"></script>
</body>

</html>